<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxi.infrastructure.persistence.mapper.CouponGrabMapper">

    <insert id="insert" parameterType="com.yunxi.infrastructure.persistence.po.CouponGrabPO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon_grabs (coupon_id, customer_id)
        VALUES (#{couponId}, #{customerId})
    </insert>

    <select id="countByCouponId" resultType="long">
        SELECT COUNT(*) FROM coupon_grabs WHERE coupon_id = #{couponId}
    </select>
</mapper>
